<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="https://ivan-kuzmin.github.io/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./favicon/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./favicon/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./favicon/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= require('./favicon/site.webmanifest') %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">

  <title>Document</title>
</head>
<body>
  <%= require('html-loader!./html/includes/header.html') %>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>